.body_container {
    display: block;
    margin: 0;
    position:relative;
}
.elec_button {
    margin-top:10px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding:16px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    outline:none;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color:#fff;
    font-size:16px;
    text-transform: uppercase;
    font-family: "HP";
    transition: all 0.5s;
    text-align:center;
}

.elec_button:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
}

.elec_button:active {
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #28a745 0%, #34d058 90%);
}
.del_req {
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
    transition:all 0.4s;
}

.del_req:hover {
    background-color: #e02c3b;
    background-image: linear-gradient(-180deg, #f35360 0%, #e02c3b 90%);
}

.del_req:active {
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #cb2431 0%, #de4450 90%);
}

.ann_cover {
    position: relative;
    background: url("./annotice.png");
    background-position: center 10%;
}

.annotice {
    padding-top: 50px;
    width: 100%;
    background:rgba(41, 47, 53,0.97);
}

.ann_cont {
    max-width: 1012px;
    padding: 10px;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex:50%;
    max-width: 50%;
}

.col_cont {
    margin:10px;
    padding:5px;
}

.col_head {
    color: #fff;
    font-size: 30px;
    font-family: 'HP';
    letter-spacing: 2px;
    font-weight: bold;
    width:100%;
    text-align: center;
    text-transform: uppercase;
}

._container {
    width:100;
    padding:20px;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    margin-top:10px;
    height:350px;
    overflow-y:scroll;
}

._built {
    color:#fff;
    font-size:50px;
    margin-top: 50px;
    font-family: "HE";
}

.anim_text {
    color:#aba7a7;
    padding-top:20px;
    font-size:25px;
    line-height: 1.2em;
    text-align: left;
}

._nit {
    color:rgb(211, 211, 211);
}

.current_reps {
    background:#fff;
    max-width: 1012px;
    padding-left:10px;
    padding-right: 10px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

._curr_heading {
    color: rgba(41, 47, 53,1);
    font-family: "HE";
    font-size:54px;
    text-align: center;
    padding-top: 30px;
}

.class_reps {
    width: 100%;
    margin-top:30px;
    padding:20px;
}

.cr_row {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.cr_col {
    flex:23.5%;
    max-width:23.5%;
    margin-left:10px;
    margin-top:20px;
}

.rep_container {
    width:100%;
    padding:10px;
    transition: all 0.5s;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
}

.rep_container:hover {
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5),0px 5px 15px 1px rgba(0,0,0,0.5);
    
}
.title {
    color: grey;
}

.getting_started_cont {
    padding-top:50px;
    position:relative;
    width:100%;
    color:#000 !important;
    padding-bottom: 50px;
}

.font_temp {
    color:#000 !important;
}

.induc_greet {
    font-size:18.5px !important;
}

.fill_but_cont {
    margin:50% auto;width:100%;text-align: center;
}

.collapsible {
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition:all 0.5s;
}

.collapsible:hover{
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
}

.collapsible:after{
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #28a745 0%, #34d058 90%);
}

.collapsible::after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: "\2212";
}

.active,.collapsible:hover {
    background-color: #1a73e8;
}

.content_ {
padding: 0 18px;
max-height: 0;
overflow: hidden;
background-color: rgba(185, 209, 148, 0.8);
transition: all 0.2s ease-out;
}

.basic_task {
    background-color: rgba(30, 48, 3, 0.849);
    padding: 10px 0px 4px 0px;
    border-bottom:2px solid #269f42;
    text-align:center;
    color: #c8e1ff;
}

.basic_task h3 {
    margin:0;
}

.task_containe {
    background: #fff;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px 1px rgba(0,0,0,0.5);
    margin-top:10px;
    padding:10px;
}
.task_cont {
    padding:5px;
    margin-top:5px;
}
.ps_dis {
    margin-left:10px;
    padding:10px 0px 20px 0px;
}
@media (max-width:800px) {
    .cr_col {
        flex:30%;
        max-width:30%;
    }
}

@media (max-width:750px) {
    .column {
        flex:100%;
        max-width: 100%;
    }
    .intro_impr {
        margin-top:10px !important;
    }
    ._built {
        margin-top: -10px;
        text-align: center;
    }
    .anim_text {
        text-align: center;
        margin-bottom: 50px;
    }
    ._curr_heading {
        font-size:40px;
    }
    .fill_but_cont {
        margin:5% auto;
    }
}

@media (max-width:650px) {
    .cr_col {
        flex:47%;
        max-width:47%;
    }
}

@media (max-width:550px) {
    ._built {
        font-size: 50px;
    }
    .anim_text {
       font-size:25px;
    }
    .task_head {
        font-size:40px !important;
    }
}


@media (max-width:450px) {
    .col_head {
        font-size: 30px;
    }
    .cr_col {
        flex:60%;
        max-width:60%;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (max-width:400px) {
    ._curr_heading {
        font-size:30px;
    }
    .cr_col {
        flex:75%;
        max-width:75%;
        margin-left:auto;
        margin-right:auto;
    }
    .col_head {
        font-size: 27px;
    }
}

._no_elec {

    background: #c8e1ff;
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "PP";

}

@media (max-width:350px) {
    .cr_col {
        flex:98%;
        max-width:98%;
        margin-left:auto;
        margin-right:auto;
    }
}