.task_box {
    width:100%;
    margin-top:5px;
    
    display: flex;
    flex-wrap: wrap;
    padding:2px;
}

.task_menu_cont {
    flex:15%;
    max-width:15%;
}
.task_desc {
    flex:85%;
    max-width: 85%;
    padding-left:10px;
}

.menu_item {
    text-align: center;
    padding:7px 0px;
    margin-top:2px;
    margin-right:10px;
    transition: all 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'sans-serif';
    user-select: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.menu_item:hover {
    background:#ecebeb;

}

.menu_item_active {
    font-weight:bold;
    background: #c8e1ff !important;

}

#td_head {
    font-size: 20px;
    font-family: "PP";
    text-align:center;
    border-bottom: 2px solid #28a745;
}

.task_main_instructions {
    color:#F44336;
}

.date_highlight {
    padding:10px;
    font-weight:bold;
    color:#cb2431;
    font-style: italic;
}

.task_short_intro {
    margin-top:20px;
    padding:10px;
}

blockquote {
    margin: 20px 0;
    padding-left: 10px;
    border-left: 5px solid #ee6e73;
    padding-top:3px;
    padding-bottom:3px;
}

.task_intro {
    padding-left:15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.red_head {
    border-left: 5px solid #28a745;
    color:#28a745;
    font-size: 1.64rem;
    padding-left:15px;
    margin: 20px 0;
    font-weight:400;
}

.down_ico {
    margin-left:18px; 
}

.elec_button {
    width:325px;
}

.ui_text {
    padding:10px;
    padding-left: 3px;
    outline:none;
    width:100%;
    border:0px;
    border-bottom:2px solid #aaa;
    transition: all 0.5s;
}

.ui_text:focus {
    border-bottom:3px solid #28a745;
}

.upload_cont {
    padding:10px;
}

.instruction_panel {
    width:100%;
    padding:20px;
}

.sub_panel {
    background-color: #b2ebf2 !important;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.sub_panel a,a:active,a {
    text-decoration: none;
    cursor:pointer;
    color:#039be5;
}

._head {
    text-transform: uppercase;
    text-align:center;
    border-bottom: 3px solid #28a745;
    font-size:19px;
    font-family: 'PP';
}

.inst_content {
    margin-top:10px;
}

.row_ {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    padding:10px;
}
.col_ {
    flex:32%;
    max-width: 33%;
}
.task_wrapper {
    margin:7px auto;
    max-width:100%;
    position: relative;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin:auto;
    perspective: 1000px; 
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #28a745;
color: black;
text-transform: uppercase;
font-family: 'HP';
color:#fff;
}

.flip-card-back {
background-color: dodgerblue;
color: white;
transform: rotateY(180deg);
}

@media (max-width:990px) {
    .col_ {
        flex:100%;
        max-width: 100%;
    }
}
@media (max-width:860px) {
    .task_desc {
        flex:100%;
        max-width: 100%;
    }

    .task_menu_cont {
        display: none;
    }

}